.GalleryGridList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    padding: 3rem;
    will-change: transform;
    list-style: none;
    width: fit-content;
}

.GalleryGridListItem {
    display: flex;
    padding: 8vw;
    width: 29vw;
    height: 29vw;
    overflow: hidden;
    cursor: pointer;
}

.GalleryGridListItem:nth-child(odd) {
    justify-content: center;
    align-items: flex-end;
}

.GalleryGridListItem:nth-child(2n) {
    justify-content: center;
    align-items: flex-start;
}

.GalleryImage {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    aspect-ratio: 3/4;
    opacity: 0.5;
    transition: 0.3s;
}


.GalleryGridListItem:hover .GalleryImage {
    opacity: 1;
}